body{
  background: lightblue;
  text-align: center;
}
.wrapper{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
img{
  transform: translate(50px 20px);
}
.circle{
  border-radius: 50px;
  color: white;
  background-color: palevioletred;
  width: 100px;
  padding: 50px 0;
  margin: 60px auto;
  line-height: 0;
  cursor: pointer;
  transition: background 1s, transform 1s 1s ease-in
}
.circle:hover{
  background: blue;
  transform: rotate(360deg);
}